<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<HTML>
	<HEAD>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
		<TITLE>Stanford Dinner</TITLE>
	</HEAD>
 
	<BODY>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
		    <p class="cursive-header big-title">dine</p>
      </div>
      <div class="col-md-9">
		    <p class = "cursive-header bottom-align">Today is <%=@weekday%>. Which dining hall had a good <%=@meal%>?</p>
      </div>
    </div>
			<% @halls.each do |hall| %>
				<div class="col-sm-4">
    			<div class="panel ">
            <div class="row">
              <div class="col-md-3">
  				      <div class="btn-group-vertical" id="<%= hall.id %>">
							    <button type="button" class="btn btn-success plus-button b-1" role="button">
							    	+
							    </button>
  						    <button type="button" class="btn btn-danger minus-button b-2" role="button">
							    	-
  						    </button>
						    </div>
              </div>
              <div class="col-md-6">
						    <img src="<%= hall.img %>">
              </div>
              <div class="col-md-2 score cursive-header" id="score<%= hall.id %>" >
						    <%= hall.score %>
              </div>
            </div>
					</div>
				 </div>
			<% end %>
		</div>
	</BODY>
</HTML>